ENV=dev

DB_USER=user
DB_PASS=pass
DB_HOST=host
DB_PORT=0000
DB_NAME=name

GOOSE_MIGRATION_DIR=internal/app/adapters/out/postgres/sql
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://user:pass@host:port/name

JWT_SECRET=secret
JWT_ACCESS_TOKEN_DURATION=15m #hour
JWT_REFRESH_TOKEN_DURATION=168h #hours